Q1 :- Print the given strings as per stated format

In [1]:
print("Data-Science-Mentorship-Program-started-By-CampusX")

Data-Science-Mentorship-Program-started-By-CampusX

Q2: Celsius to Fahrenheit Conversion

In [2]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 55
Temperature in Fahrenheit: 131.0

Q3: Swap Two Numbers

In [3]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
temp = a
a = b
b = temp
print("After swapping: a =", a, "b =", b)

Enter first number: 1
Enter second number: 5
After swapping: a = 5 b = 1

Q4: Euclidean Distance Between Two Coordinates

In [4]:
import math
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print("Euclidean Distance:", distance)

Enter x1: 4
Enter y1: 5
Enter x2: 6
Enter y2: 4
Euclidean Distance: 2.23606797749979

Q5: Simple Interest Calculation

In [6]:
p = float(input("Enter principal: "))
r = float(input("Enter rate of interest: "))
t = float(input("Enter time in years: "))

si = (p * r * t) / 100
print("Simple Interest:", si)

Enter principal: 10000
Enter rate of interest: 7
Enter time in years: 3
Simple Interest: 2100.0

Q6: Find Number of Dogs and Chickens Given Heads and Legs

In [7]:
heads = int(input("Enter number of heads: "))
legs = int(input("Enter number of legs: "))

dogs = (legs - 2 * heads) // 2
chickens = heads - dogs

print("Dogs:", dogs)
print("Chickens:", chickens)

Enter number of heads: 4
Enter number of legs: 16
Dogs: 4
Chickens: 0

Q7: Sum of Squares of First N Natural Numbers

In [8]:
n = int(input("Enter value of n: "))
sum_of_squares = n * (n + 1) * (2 * n + 1) // 6
print("Sum of squares:", sum_of_squares)

Enter value of n: 4
Sum of squares: 30

Q8: Nth Term of Arithmetic Series

In [9]:
a1 = int(input("Enter first term: "))
a2 = int(input("Enter second term: "))
n = int(input("Enter which term to find: "))

d = a2 - a1
an = a1 + (n - 1) * d
print(f"The {n}th term of the AP is:", an)

Enter first term: 4
Enter second term: 5
Enter which term to find: 3
The 3th term of the AP is: 6

Q9: Sum of Two Fractions

In [10]:
num1 = int(input("Enter numerator of first fraction: "))
den1 = int(input("Enter denominator of first fraction: "))
num2 = int(input("Enter numerator of second fraction: "))
den2 = int(input("Enter denominator of second fraction: "))

# Find LCM of denominators
import math
lcm = den1 * den2 // math.gcd(den1, den2)

sum_num = num1 * (lcm // den1) + num2 * (lcm // den2)
common_gcd = math.gcd(sum_num, lcm)

print("Sum of fractions:", sum_num // common_gcd, "/", lcm // common_gcd)

Enter numerator of first fraction: 74
Enter denominator of first fraction: 15
Enter numerator of second fraction: 15
Enter denominator of second fraction: 81
Sum of fractions: 691 / 135

Q10: Milk Tank to Glass Conversion

In [11]:
import math
H = int(input("Enter height of tank (cm): "))
L = int(input("Enter length of tank (cm): "))
B = int(input("Enter breadth of tank (cm): "))

h = int(input("Enter height of glass (cm): "))
r = int(input("Enter radius of glass (cm): "))

volume_tank = H * L * B  # in cm³
volume_glass = math.pi * r * r * h  # in cm³

number_of_glasses = volume_tank // volume_glass
print("Number of glasses of milk:", int(number_of_glasses))

Enter height of tank (cm): 1000
Enter length of tank (cm): 500
Enter breadth of tank (cm): 400
Enter height of glass (cm): 6000
Enter radius of glass (cm): 40
Number of glasses of milk: 6