Problem 1: In-hand Monthly Salary after Deductions

In [1]:
ctc = float(input("Enter your CTC in lakhs: ")) * 100000
hra = 0.10 * ctc
da = 0.05 * ctc
pf = 0.03 * ctc
gross_salary = ctc - (hra + da + pf)

# Tax Calculation
if ctc <= 500000:
    tax = 0
elif ctc <= 1000000:
    tax = 0.10 * gross_salary
elif ctc <= 2000000:
    tax = 0.20 * gross_salary
else:
    tax = 0.30 * gross_salary

in_hand_annual = gross_salary - tax
monthly_salary = in_hand_annual / 12
print("Monthly In-hand Salary:", int(monthly_salary))

Enter your CTC in lakhs: 5
Monthly In-hand Salary: 34166

Problem 2: Triangle Validity

In [2]:
a = int(input("Enter angle 1: "))
b = int(input("Enter angle 2: "))
c = int(input("Enter angle 3: "))
if a + b + c == 180 and a > 0 and b > 0 and c > 0:
    print("Valid Triangle")
else:
    print("Not a Triangle")

Enter angle 1: 90
Enter angle 2: 60
Enter angle 3: 120
Not a Triangle

Problem 3: Profit or Loss

In [4]:
cp = float(input("Enter cost price: "))
sp = float(input("Enter selling price: "))
if sp > cp:
    print("Profit of", sp - cp)
elif cp > sp:
    print("Loss of", cp - sp)
else:
    print("No Profit No Loss")

Enter cost price: 90
Enter selling price: 120
Profit of 30.0

Problem 4: Menu-driven Converter

In [ ]:
while True:
    print("\n1. cm to ft\n2. km to miles\n3. USD to INR\n4. Exit")
    choice = int(input("Enter choice: "))
    if choice == 1:
        cm = float(input("Enter cm: "))
        print("Feet:", cm / 30.48)
    elif choice == 2:
        km = float(input("Enter km: "))
        print("Miles:", km * 0.621371)
    elif choice == 3:
        usd = float(input("Enter USD: "))
        print("INR:", usd * 83)  # Assuming 1 USD = â‚¹83
    elif choice == 4:
        break
    else:
        print("Invalid option")

1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter choice: 1
Enter cm: 5
Feet: 0.16404199475065617

1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter choice: 2
Enter km: 6
Miles: 3.7282260000000003

1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter choice: 3
Enter USD: 100
INR: 8300.0

1. cm to ft
2. km to miles
3. USD to INR
4. Exit

Problem 5: Fibonacci Series up to 10 Terms

In [ ]:
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

Problem 6: Factorial

In [ ]:
n = int(input("Enter number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print("Factorial:", fact)

Problem 7: Reverse Integer

In [ ]:
num = int(input("Enter number: "))
rev = int(str(num)[::-1])
print("Reversed:", rev)

Problem 8: Sum 1 to N skipping 5s and stopping after 300

In [ ]:
n = int(input("Enter N: "))
i = 1
total = 0
while i <= n:
    if i % 5 == 0:
        i += 1
        continue
    total += i
    if total > 300:
        break
    i += 1
print("Sum:", total)

Problem 9: Keep taking input until zero, then show sum and avg

In [ ]:
total = 0
count = 0
while True:
    num = int(input("Enter number (0 to stop): "))
    if num == 0:
        break
    total += num
    count += 1
if count > 0:
    print("Sum:", total, "Average:", total / count)
else:
    print("No numbers entered.")

Problem 10: Divisible by 7 but not multiple of 5

In [ ]:
res = [str(i) for i in range(2000, 3201) if i % 7 == 0 and i % 5 != 0]
print(",".join(res))